{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'anatomy.js') }}"></script>

<div class = 'header'>
    <div class = 'welcome'>Anatomy</div>
</div>
<div class = 'info'>
    These are some basic features on a camera and their locations.
</div><br><br>
<div class='content'>
    <div class="camera-view">
        <div class="camera">
            <input class="input-anatomy" value="Aperture" disabled/>
            <input class="input-iso" value="ISO" disabled/>
            <input class="input-speed" value="Shutter Speed" disabled/>
            <input class="input-monitor" value="Monitor" disabled/>
            <input class="input-view-finder" value="View Finder" disabled/>
            <img id='cameraDiagram' src="{{ url_for('static', filename = 'img/camera.png') }}" alt="Camera Diagram">
        </div>
    </div>
</div>
<div class = 'content'>
    <div class="buttons">
        <button id = 'next' class = 'btn btn-outline-primary'> Continue to Aperture</button>
    </div>
</div>
{% endblock %}
