{% extends "layout.html" %}


{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'aperture.js') }}"></script>

<div class = 'welcome'>Aperture</div>
<div class = 'description'>
    The aperture controls the opening in the lens that allows light to pass through
    A <span class = "bold">small aperture</span> creates a <span class = "bold">brighter photo with a shallower depth of field. </span>
    A <span class = "bold">large aperture</span> lets less light in which results in a <span class = "bold">darker photo and the foreground and background are both sharp.</span> 
    
    <div class = "instructions" >
        Test it out with the slider bar below!
    </div>
</div><br>
<div class = 'content'>
    <div class = "inputDisplay">
        <span class="limit">F/22</span>
        <span class="limit">F/4</span>
        <span class="limit">F/2.8</span>
    </div>
    <input type="range" id="sliderBar" onchange='setImage()' min="1" max="3" value="1" step="1" />
    <div class = 'learn_camera'> 
    <di class = "row">
        <img id='cameraDiagram' src="{{ url_for('static', filename = 'img/camera.png') }}" alt="Camera Diagram">
        <img class = "aperture_img" id='update' src='/static/images/aperture/1.png' />
    </div>    
</div>
<div class="buttons">
    <button id = 'back' class = 'btn btn-outline-primary'> Return to Anatomy</button>        
    <button id = 'next' class = 'btn btn-outline-primary'> Continue to ISO</button>
</div>
</div>
{% endblock %}
