{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'ISO.js') }}"></script>

<div class = 'welcome'>ISO</div>
<div class = 'description'>
    The ISO will darken or brighten a photo at the tradeoff of increasing the graininess of a photo. 
    A <span class = "bold">low ISO </span> keeps the <span class = "bold">graininess low and the photo dark</span>.
    A <span class = "bold">high ISO</span> has is <span class = "bold">brighter but has lots of grain </span>.
    <div class = "instructions" >
        Test it out with the slider bar below!
    </div>
</div><br>
<div class = 'content'>
    <div class = "inputDisplay">
        <span class="limit">ISO 12800</span>
        <span class="limit">ISO 1600</span>
        <span class="limit">ISO 100</span>
    </div>
    <input type="range" id="sliderBar" onchange='setImage()'  min="1" max="3" value="1" step="1" />
<div class = 'learn_camera'> 
    <div class = "row">
        <img id='cameraDiagram' src="{{ url_for('static', filename = 'img/camera.png') }}" alt="Camera Diagram">
        <img class = "iso_img" id = "update" src="/static/images/iso/1.png">
    </div>    
</div>
<div class="buttons">
    <button id = 'back' class = 'btn btn-outline-primary'> Return to Aperture</button>        
    <button id = 'next' class = 'btn btn-outline-primary'> Continue to Shutter Speed</button>
</div>
</div>
{% endblock %}
