{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_adjust.js') }}"></script>
<script>
    let curr = {{curr|tojson}}
    let num = {{num|tojson}}
</script>

<div class = 'header'>
    <div class = 'welcome'>Quiz</div>
</div>
<div id = 'progress'>
</div>
<div class = 'content'>
    <img id = 'cameraDiagram' src="" alt="Camera Diagram">
</div>
<div class = 'content'>
    <img id = 'cameraDiagram' src="" alt="Camera Diagram">
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="isoAdjust">
    </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="sspeedAdjust">
    </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="apertureAdjust">
    </div>
    <button id = 'next' class = 'start'></button>
</div>

{% endblock %}

